.navbar {
  background-color: #771c1a;
}

.nav-link {
  color: #f9fce9 !important;
}
.nav-link:hover {
  color: #e6d889 !important;
}

.dropdown-menu {
  background-color: #1b101a;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.35);
}
.dropdown-item {
  color: rgba(249, 252, 233, 0.75);
}
.dropdown-item:hover {
  background-color: #1b101a;
  color: #fff;
}
.dropdown-divider {
  border-top: 1px solid #e4e7d53b;
}
.bold-item {
  font-weight: 800;
}
