.projects-row-header-wrapper {
    margin: 1rem 0;
  }
  
  .projects-row-projects-wrapper {
  justify-content: center;
}

.projects-row-projects-wrapper:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25)!important;
  }
.projects-row-projects-wrapper:last-child {
  padding-bottom: 3rem;
  }

  .projects-row-header-wrapper a {
    text-decoration: underline;
    color: #212529;
  }
  .projects-row-header-wrapper a:hover {
    text-decoration: none;
  }