.featured-projects-row-header-wrapper {
    margin: 2rem 0;
  }
  
  .featured-projects-wrapper {
  justify-content: center;
}

.featured-projects-wrapper:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }

  .featured-projects-row-header-wrapper a {
    text-decoration: underline;
    color: #212529;
  }
  .featured-projects-row-header-wrapper a:hover {
    text-decoration: none;
  }

  /* .portfolio-category-wrapper {
    margin-top: 2rem;
}
.portfolio-category-wrapper:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  } */

/* .project-row-header {
padding-bottom: 1rem;
}
.portfolio-item-title {
    text-align: center;
    font-size: 18px;
}
.portfolio-item-image-wrapper {
    text-align: center;
    margin-bottom: 10px;
}
.portfolio-item-image-wrapper img {
    height: 100px;
} */