.project-item-col img {
  max-height: 180px;
}

.project-item-col a {
  max-height: 180px;
  text-decoration: underline;
}

.project-title {
  text-decoration: underline;
  color: #212529;
}
.project-title:hover {
  text-decoration: none;
}

/* .external-links-wrapper a:not(:first-of-type) {
  padding-left: 5px;
} */

/*
Smaller project images only on Portfolio page.
*/
.portfolio-page-project p {
  margin-top: 1rem;
  font-size: 20px;
  margin-bottom: 0;
  color: #922220;
}
.portfolio-page-project a {
  text-decoration: none;
}
.portfolio-page-project a:hover {
  text-decoration: underline;
  color: #922220;
}
.portfolio-page-project .external-links-wrapper {
  font-size: 14px;
}

/*
Smaller project images only on Portfolio page.
*/
.portfolio-page-project img {
    height: 100px;

}

@media screen and (max-width: 991px) {
  .project-item-col img {
    max-height: 130px;
  }
}

@media screen and (max-width: 767px) {
  .project-item-col img {
    max-height: 200px;
  }
}
