.project-item-col {
  margin-bottom: 1rem;
}

.project-item-col img {
  max-height: 180px;
}

.project-item-col a {
  max-height: 180px;
  text-decoration: underline;
}

/*
Smaller project images only on Portfolio page.
*/
.portfolio-project-title {
  margin-top: 1rem;
  font-size: 20px;
  margin-bottom: 0;
  color: #922220;
}
.portfolio-page-project-col a {
  text-decoration: none;
}
.portfolio-page-project-col a:hover {
  text-decoration: underline;
  color: #922220;
}
.portfolio-page-project-col .external-links-wrapper {
  font-size: 14px;
}

/*
Smaller project images only on Portfolio page.
*/
.portfolio-page-project-col img {
    height: 100px;

}

.brief-description {
  margin-bottom: 0;
}

@media screen and (max-width: 991px) {
  .project-item-col img {
    max-height: 130px;
  }
}

@media screen and (max-width: 767px) {
  .project-item-col img {
    max-height: 200px;
  }
}
