.footer-wrapper {
  background-color: #1b101a;
  padding: 2rem;
  color: #f9fce9;
  margin-top: auto;
}

.footer-top-wrapper {
  display: flex;
}
.footer-top-list {
  width: 100%;
  text-align: center;
  padding-left: 0;
}
.footer-top-list-item {
  display: inline-block;
  list-style: none;
  padding: 0 5px;
}
.footer-top-list-item a {
  color: #cfd5c4;
}
.footer-top-list-item a:hover {
  color: rgba(249, 252, 233);
}

.footer-middle-wrapper {
  color: rgba(249, 252, 233, 0.5);
  width: 100%;
  text-align: center;
}

.footer-bottom-list {
  width: 100%;
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;
}
.footer--bottom-list-item {
  display: inline-block;
  list-style: none;
  padding: 0 5px;
}
.footer--bottom-list-item a {
  font-size: 13px;
  text-decoration: none;
  color: #e6d889;
}
.footer--bottom-list-item a:hover {
  text-decoration: underline;
  color: #e6d889;
}
