.showcase-wrapper {
  background-color: #a0b19d;
  display: flex;
}
.showcase-wrapper h2,
.showcase-wrapper p {
  font-weight: bold;
}
.showcase-wrapper button {
  border: none;
  background-color: #e6d889;
}

.showcase-image-wrapper {
  width: 50%;
}
.showcase-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

.showcase-info-wrapper {
  position: relative;
  width: 50%;
}

.showcase-info-wrapper:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.07;
  background-image: url(https://gist.githubusercontent.com/AndrewJFleming/a3d9a8d814dda79cc6b3ac7a70453dc1/raw/824a09b4d7c2492bac238ca79f7caa79825dd83b/illust-7.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.showcase-info {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*
Limit p width on widest screens.
*/
@media screen and (min-width: 1400px) {
  .showcase-info p {
    max-width: 75%;
  }
}

/*
Hide showcase image col on mobile screens.
*/
@media screen and (max-width: 767px) {
  .showcase-image-wrapper {
    display: none;
  }

  /*
  Allow full p width on smaller screens.
  */
  .showcase-info-wrapper {
    width: 100%;
  }
}
