.showcase-wrapper {
  background-color: #a0b19d;
}
.showcase-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0;
}
.showcase-wrapper button {
  border: none;
  background-color: #e6d889;
}

.showcase-wrapper h2,
.showcase-wrapper p {
  font-weight: bold;
}

.showcase-content-wrapper {
  position: relative;
}

.showcase-content-wrapper:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.07;
  background-image: url(https://gist.githubusercontent.com/AndrewJFleming/a3d9a8d814dda79cc6b3ac7a70453dc1/raw/824a09b4d7c2492bac238ca79f7caa79825dd83b/illust-7.svg);
  background-repeat: no-repeat;
  /* background-position: 50% 0; */
  background-size: cover;
}

.showcase-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (min-width: 1400px) {
  .showcase-content p {
    max-width: 75%;
  }
}
