body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #fafceb;
}

.app-content-wrapper {
  position: relative;
}

.app-content-wrapper:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.04;
  background-image: url(https://gist.githubusercontent.com/AndrewJFleming/a3d9a8d814dda79cc6b3ac7a70453dc1/raw/824a09b4d7c2492bac238ca79f7caa79825dd83b/illust-7.svg);
  background-repeat: repeat;
}

.app-content {
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

.sans-serif {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

a {
  cursor: pointer;
}

button {
  border-radius: 5px;
  padding: 15px;
}
